.posts_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 218, 163);
}
.posts_container {
  width: 90%;
}
.post {
  padding: 10px 20px;
  margin: 10px 10px;
  width: 100%;
  height: auto;
  background-color: rgb(82, 202, 90);
}
.post button {
  border: tomato;
  background-color: tomato;
  color: #fff;
  width: 100px;
  height: 30px;
  font-size: 20px;
  margin-left: 90%;
  transform: translate(-50%);
  cursor: pointer;
}
.post button:hover {
  background-color: rgba(216, 133, 119, 0.509);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(175, 172, 172, 0.544);
  display: none;
}
.overlay.active {
  display: block;
}
.overlay_postContent {
  position: absolute;
  background-color: rgb(5, 234, 161);
  border-radius: 10px;
  width: 80%;
  height: 40vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
}
.overlay_postContent h2 {
  font-size: 40px;
}
.overlay_postContent p {
  font-size: 30px;
}
#close_overlay {
  position: absolute;
  width: 30px;
  right: 20px;
  cursor: pointer;
}
