.posts_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 218, 163);
}
.posts_container {
  width: 90%;
}
.post {
  padding: 10px 20px;
  margin: 10px 10px;
  width: 100%;
  height: auto;
  background-color: rgb(82, 202, 90);
  cursor: pointer;
}
.post:hover {
  background-color: rgb(140, 236, 146);
}
.post button {
  border: tomato;
  background-color: tomato;
  color: #fff;
  width: 100px;
  height: 30px;
  font-size: 20px;
  margin-left: 85%;
  transform: translate(-50%);
  cursor: pointer;
}
.post button:hover {
  background-color: rgb(231, 42, 9);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(175, 172, 172, 0.544);
  display: none;
}
.overlay.active {
  display: block;
}
.overlay_postContent {
  position: absolute;
  background-color: rgb(5, 234, 161);
  border-radius: 10px;
  width: 80%;
  height: 40vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
}
.overlay_postContent h2 {
  font-size: 40px;
}
.overlay_postContent p {
  font-size: 30px;
}
#close_overlay {
  position: absolute;
  width: 30px;
  right: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
#close_overlay:hover {
  width: 35px;
}
.add_post {
  position: fixed;
  top: 40px;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 175, 134, 0.919);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
}
.add_post.active {
  display: block;
}
.add_post img {
  position: fixed;
  width: 70px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
#form-add-post {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#form-add-post button {
  border: yellowgreen;
  background-color: rgb(13, 146, 102);
  border-radius: 10px;
  width: 200px;
  height: 20%;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
}
#form-add-post button:hover {
  background-color: rgb(31, 184, 133);
}
#posttitle {
  width: 50%;
  height: 20%;
  border: thistle;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
}
#posttitle:focus::placeholder {
  color: transparent;
}
#posttitle:focus {
  outline: none;
}
#addIcon {
  position: fixed;
  width: 100px;
  right: 100px;
  bottom: 150px;
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s;
}
#addIcon:hover {
  width: 120px;
}
