.posts_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 218, 163);
}
.posts_container {
  width: 90%;
}
.post {
  padding: 10px 20px;
  margin: 10px 10px;
  width: 90%;
  height: auto;
  background-color: rgb(82, 202, 90);
}
.post button {
  border: tomato;
  background-color: tomato;
  color: #fff;
  width: 100px;
  height: 30px;
  font-size: 20px;
  margin-left: 90%;
  transform: translate(-50%);
  cursor: pointer;
}
.post button:hover {
  background-color: rgba(216, 133, 119, 0.509);
}
